<?xml version="1.0"?>

<robot name="go1" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="DEBUG" default="false"/>
    <xacro:arg name="INCLUDE_CAM_ULTRASOUND" default="false"/>
    <xacro:arg name="INCLUDE_GAZEBO_PLUGIN" default="false"/>
    <xacro:arg name="INCLUDE_TRANSMISSION" default="False"/>
    <!-- Isaac Gym uses com frame for links, so we need dummy site links whose link, inertia, collision frames are the same for correct link frame state calc -->
    <xacro:arg name="ADD_BASE_SITE" default="true"/>
    <xacro:arg name="INCLUDE_MUJOCO_COMPILE" default="true"/>
    <xacro:arg name="MESH_FORMAT" default="stl"/> <!-- .dae, .obj, .stl -->
    <!-- original MESH_DIR: package://go1_description/meshes -->
    <xacro:arg name="MESH_DIR" default="../meshes/simplified_stl"/>

    <xacro:property name="mesh_dir" value="$(arg MESH_DIR)"/>
    <xacro:property name="mesh_format" value="$(arg MESH_FORMAT)"/>

    <xacro:if value="$(arg INCLUDE_MUJOCO_COMPILE)">
        <mujoco>
            <compiler
                meshdir="${mesh_dir}" 
                balanceinertia="true" 
                discardvisual="false" />
        </mujoco>
    </xacro:if>

    <xacro:include filename="$(find go1_model)/xacro/urdf/const.xacro"/>
    <xacro:include filename="$(find go1_model)/xacro/urdf/materials.xacro"/>
    <xacro:include filename="$(find go1_model)/xacro/urdf/leg.xacro"/>
    <xacro:if value="$(arg INCLUDE_GAZEBO_PLUGIN)">
        <xacro:include filename="$(find go1_model)/xacro/urdf/gazebo.xacro"/>
    </xacro:if>
    <xacro:if value="$(arg INCLUDE_CAM_ULTRASOUND)">
        <xacro:include filename="$(find go1_model)/xacro/urdf/depthCamera.xacro"/>
        <xacro:include filename="$(find go1_model)/xacro/urdf/ultraSound.xacro"/>
    </xacro:if>

    <!-- Rotor related joint and link is only for demonstrate location. -->
    <!-- Actually, the rotor will rotate and the joint is not fixed. Reduction ratio should be considered. -->
    <!-- Important: A joint armature of 0.02 kg*m^2 should be added in simulator since URDF does not specify armature -->

    <xacro:if value="$(arg DEBUG)">
        <!-- Debug mode will hung up the robot, use "true" or "false" to switch it. -->
        <link name="world"/>
        <joint name="base_static_joint" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="world"/>
            <child link="base"/>
        </joint>
    </xacro:if> 

    <xacro:if value="$(arg ADD_BASE_SITE)">
        <link name="base">
            <visual>
                <origin rpy="0 0 0" xyz="0 0 0"/>
                <geometry>
                    <box size="0.001 0.001 0.001"/>
                </geometry>
            </visual>
        </link>

        <joint name="base_site_fixed" type="fixed">
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <parent link="base"/>
            <child link="trunk"/>
        </joint>
    </xacro:if>

    <link name="trunk">
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="${mesh_dir}/trunk.${mesh_format}" scale="1 1 1"/>
            </geometry>
            <!-- <material name="orange"/> -->
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="${trunk_collision_length} ${trunk_collision_width} ${trunk_collision_height}"/>
            </geometry>
        </collision>
        <collision>
            <origin rpy="0 ${PI/2.0} 0" xyz="${head_offset_x} ${head_offset_y} ${head_offset_z}"/>
            <geometry>
                <cylinder length="${head_length}" radius="${head_radius}"/>
            </geometry>
        </collision>
        <inertial>
            <origin rpy="0 0 0" xyz="${trunk_com_x} ${trunk_com_y} ${trunk_com_z}"/>
            <mass value="${trunk_mass}"/>
            <inertia
                ixx="${trunk_ixx}" ixy="${trunk_ixy}" ixz="${trunk_ixz}"
                iyy="${trunk_iyy}" iyz="${trunk_iyz}"
                izz="${trunk_izz}"/>  
        </inertial>
    </link>

    <joint name="imu_joint" type="fixed">
        <parent link="trunk"/>
        <child link="imu_link"/>
        <origin rpy="0 0 0" xyz="${imu_offset_x} ${imu_offset_y} ${imu_offset_z}"/>
    </joint>

    <link name="imu_link">
        <inertial>
            <mass value="0.001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size="0.001 0.001 0.001"/>
            </geometry>
            <!-- <material name="red"/> -->
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
                <box size=".001 .001 .001"/>
            </geometry>
        </collision>
    </link>

    <xacro:leg name="FR" mirror="-1" mirror_dae= "False" front_hind="1"  front_hind_dae="True" include_transmission="$(arg INCLUDE_TRANSMISSION)"/>
    <xacro:leg name="FL" mirror="1"  mirror_dae="True"   front_hind="1"  front_hind_dae="True" include_transmission="$(arg INCLUDE_TRANSMISSION)"/>
    <xacro:leg name="RR" mirror="-1" mirror_dae="False"  front_hind="-1" front_hind_dae="False" include_transmission="$(arg INCLUDE_TRANSMISSION)"/>
    <xacro:leg name="RL" mirror="1"  mirror_dae="True"   front_hind="-1" front_hind_dae="False" include_transmission="$(arg INCLUDE_TRANSMISSION)"/>

    <xacro:if value="$(arg INCLUDE_CAM_ULTRASOUND)">
        <xacro:depthCamera camID="1" name="face">
            <origin rpy="${PI} 0 0" xyz="0.2785 0.0125 0.0167"/>
        </xacro:depthCamera>

        <xacro:depthCamera camID="2" name="chin">
            <origin rpy="${PI} ${PI/2} 0" xyz="0.2522 0.0125 -0.0436"/>
        </xacro:depthCamera>

        <xacro:depthCamera camID="3" name="left">
            <origin rpy="${PI} 0.2618 ${PI/2}" xyz="-0.066 0.082 -0.0176"/>
        </xacro:depthCamera>

        <xacro:depthCamera camID="4" name="right">
            <origin rpy="${PI} 0.2618 ${-PI/2}" xyz="-0.041 -0.082 -0.0176"/>
        </xacro:depthCamera>

        <xacro:depthCamera camID="5" name="rearDown">
            <origin rpy="${PI} ${PI/2} 0" xyz="-0.0825 0.0125 -0.04365"/>
        </xacro:depthCamera>

        <joint name="camera_laserscan_joint_left" type="fixed">
            <origin rpy="0 0.2618 0" xyz="0 0 0"/>
            <parent link="camera_left"/>
            <child link="camera_laserscan_link_left"/>
        </joint>

        <link name="camera_laserscan_link_left">
        </link>

        <joint name="camera_laserscan_joint_right" type="fixed">
            <origin rpy="0 0.2618 0" xyz="0 0 0"/>
            <parent link="camera_right"/>
            <child link="camera_laserscan_link_right"/>
        </joint>

        <link name="camera_laserscan_link_right">
        </link>

        <xacro:ultraSound name="left">
            <origin rpy="0 0.2618 ${PI/2}" xyz="-0.0535  0.0826 0.00868"/>
        </xacro:ultraSound>

        <xacro:ultraSound name="right">
            <origin rpy="0 0.2618 ${-PI/2}" xyz="-0.0535 -0.0826 0.00868"/>
        </xacro:ultraSound>

        <xacro:ultraSound name="face">
            <origin rpy="0 0 0" xyz="0.2747 0.0 -0.0088"/>
        </xacro:ultraSound>
    </xacro:if>
</robot>
